{% extends 'template.html' %}

{% block title %}
  The Quest
{% endblock %}

{% block css %}
{% endblock %}


{% block body %}
    <!-- MAIN CONTENT START -->
    <div class="main-content">
      <div class="content">

        <div class="main-text">
          <p>Transform Your Learning Experience with UniQuest 🎓</p>
        </div>

        <div class="main-description">
          <p>Discover a revolutionary approach to education that combines</p>
          <p>gamification and personalized learning. With UniQuest, every student</p>
          <p>embarks on an engaging journey tailored to their unique academic</p>
          <p>path.<p>
        </div>

        <div class="main-btns">
          <button class="btn-get-started">Get started</button>
          <button class="btn-learn-more">Learn More</button>
        </div>

      </div>
    </div>
    <!-- MAIN CONTENT END -->

    <!-- INNOVATIVE START -->
    <div class="innovative">
        <div class="innovative-content">
            <div class="innovative-text">
                <div class="main-text">
                    <p>Innovative</p>
                    <h2>Transforming Learning<br>Through Engaging Features</h2>
                    <p>UniQuest revolutionizes education with gamification and adaptive learning.<br>Experience personalized tasks and collaborative projects tailored to your<br>academic journey.</p>
                </div>

                <div class="features">
                    <div class="feature">
                        <h3>Gamification & Learning</h3>
                        <p>Engage with dynamic challenges that adapt to your knowledge and learning style.</p>
                    </div>
                    <div class="feature">
                        <h3>Social Interaction</h3>
                        <p>Collaborate with peers through group tasks and mentorship opportunities for enhanced learning.</p>
                    </div>
                </div>
                
                <div class="btns">
                    <button class="btn-learn-more">Learn More</button>
                    <a href="/">
                        Sign Up
                        <img src="/static/imgs/chevron-forward.svg" alt="стрелка" style="vertical-align: middle">
                    </a>
                </div>
            </div>
            <img src="/static/imgs/Chevron Down.png" alt="photo">
        </div>
    </div>
    <!-- INNOVATIVE END -->

    <!-- FEATURES-NEWS START -->
    <div class="features-news">

        <div class="features-text">
            <div class="main-text">
                <h2>Explore Our Exciting Features Designed for University Student Success</h2>
            </div>

            <div class="secondary-text">
                <p>UniQuest offers personalized tasks that adapt to your learning style and knowledge level. With smart reminders and dynamic difficulty adjustments, you can tackle challenges at your own pace. Experience collaborative learning through group tasks and competitions that make education engaging and fun.</p>
            </div>
        </div>

        <div class="exploring">
            <div class="post">
                <img src="/static/imgs/bg.jpg" alt="">
                <h3>Personalized Tasks Tailored to Your Unique Learning Journey</h3>
                <p>Receive tasks that adapt to your knowledge and skills.</p>
                <a href="/">
                    Lear More
                    <img src="/static/imgs/chevron-forward.svg" alt="стрелка" style="vertical-align: middle">
                </a>
            </div>
            <div class="post">
                <img src="/static/imgs/bg.jpg" alt="">
                <h3>Engaging Competitions and Collaborative Group Tasks Await</h3>
                <p>Join forces with peers to complete projects and win exciting rewards.</p>
                <a href="/">
                    Sign Up
                    <img src="/static/imgs/chevron-forward.svg" alt="стрелка" 
                    style="vertical-align: middle" >
                </a>
            </div>
            <div class="post">
                <img src="/static/imgs/bg.jpg" alt="">
                <h3>Micro-Courses for Focused Learning on Key Topics</h3>
                <p>Dive into short, targeted courses that fit your interests.</p>
                <a href="/">
                    Explore
                    <img src="/static/imgs/chevron-forward.svg" alt="стрелка" style="vertical-align: middle">
                </a>
            </div>
        </div>
        
    </div>
    <!-- FEATURES-NEWS END -->

    <!-- YOUR-POTENTIAL START -->
    <div class="your-potential">
        <div class="your-potential-content">
            <div class="your-potential-text">
                <div class="main-text">
                    <p>Empower</p>
                    <h2>Unlock Your Learning<br>Potential with UniQuest</h2>
                    <p>Experience a transformative approach to education that enhances your<br>learning efficiency and engagement. UniQuest prepares you for your future<br>career with personalized, interactive content tailored to your studies.</p>
                </div>

                <div class="block-features">
                    <div class="features">
                        <div class="feature">
                            <img src="/static/imgs/Relume.png" alt="стрелка" style="vertical-align: middle">
                            <h3>Boost Efficiency</h3>
                            <p>Maximize your study time with targeted tasks and smart reminders.</p>
                        </div>
                        <div class="feature">
                            <img src="/static/imgs/Relume.png" alt="стрелка" style="vertical-align: middle">
                            <h3>Enhance Engagement</h3>
                            <p>Enjoy learning through gamification and collaborative projects with peers.</p>
                        </div>
                    </div>
                </div>
                
                <div class="btns">
                    <button class="btn-learn-more">Learn More</button>
                    <a href="/">
                        Sign Up
                        <img src="/static/imgs/chevron-forward.svg" alt="стрелка" style="vertical-align: middle">
                    </a>
                </div>
            </div>
            <img src="/static/imgs/Chevron Down.png" alt="photo">
        </div>
    </div>
    <!-- YOUR-POTENTIAL START -->
{% endblock %}