<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
    <header class="header">
      <div class="logo">
          <a href="/map"><img src="/static/imgs/logo-merito.PNG" alt="The Quest Logo"></a>
      </div>
      <div class="header-right">
        <nav class="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Features</a></li>
            <li><a href="/services">Pricing</a></li>
          </ul>
        </nav>
        <div class="more-info">
          <span>More info</span>
          <img src="/static/imgs/Chevron Down.png" class="arrow-icon" alt="Arrow Icon">
          <ul class="info-menu">
              <li data-lang="en">English</li>
              <li data-lang="ru">Русский</li>
              <li data-lang="es">Español</li>
              <li data-lang="fr">Français</li>
          </ul>
        </div>
        <div class="btns">
          <button class="btn-sign-in">Join</button>
          <button class="btn-sign-up">Login</button>
        </div>
      </div>
    </header>
  {% block body %}
  {% endblock %}
  <script src="static/js/scripts.js"></script>
</body>
</html>